#outer{background-color:#f2f2f2;}
#container{margin:10px}
.phpcode,.note,.tip,.classsynopsis,.methodsynopsis,.warning,.informaltable{padding:10px}
.phpcode,.note,.classsynopsis,.methodsynopsis,.doctable.informaltable{background-color:#fff}
.tip{background-color:#D9E6F2}
.warning{background-color:#F4DFDF}
.methodsynopsis{color:#737373;}
span.type,.parameter{color: #693}
.methodname{color:#369;}
code.parameter{color:#369;}
h1,h2,h3,h4,h5,h6{color: #793862;}
.horizontal-rule{background-color: #793862;padding: 0.5px;margin-bottom: 10px}
.border{padding:1;margin:10px 0;}
.border-gray{background-color:#d9d9d9}
.border-pink{background-color:#eabfbf}
.dd{margin-left: 1.5em}