#outer{background-color:#f2f2f2}
#container{margin:10px}
.warning{background-color:#F4DFDF;padding:10px}
.methodsynopsis{color:#737373;}
.phpcode,.dc-description,.note{background-color:#fff;padding:10px;border-color: #d9d9d9;}
.type,.parameter{color: #693}
.methodname{color:#369;}
code.parameter{color:#369;}
h1,h2,h3,h4,h5,h6{color: #793862;}
.border-gray{background-color:#d9d9d9}
.border-pink{background-color:#eabfbf}
.horizontal-rule{background-color: #793862;padding: 0.5px;margin-bottom: 10px}
